# filename: conf/docs/home.cfg
# path: /docs/home

############################################################
##
## Documentation Home Page
##
############################################################

view_name: &view_name "Documentation : Home"

include conf/elements/html-basic.cfg
include conf/elements/html-bootstrap-panel.cfg

include conf/docs/navbar.cfg

navbar: &navbar
	**docs_navbar

doc_link: &doc_link
	wrap: |
		<div class="media">
			<div class="media-body page-header">
				<h5 class="media-heading"><a href="{{url}}">{{title}}</a></h5>
				{{body}}
			</div>
		</div>

#style="border-bottom: solid 1px #ddd; padding-bottom: 10px;"

View: &view
	content:
		-
			**h3
			value: "Documentation : Home"
			class: page-header
			
			
		- 
			**div6
			content:
				-
					**h4
					value: Getting Started
				-
					**doc_link
					url: '/docs/gettingstarted/introduction'
					title: Introduction
					body: WebYAML is a Rapid Application Development (RAD) tool for building attractive web applications and RESTful APIs.
					
				-
					**doc_link
					url: '/docs/gettingstarted/filestructure'
					title: File Structure
					body: A look at what is included with WebYAML and how it is organized.
				-
					**doc_link
					url: '/docs/gettingstarted/firstapplication'
					title: First Application
					body: How to build a Hello World application.
				-
					**doc_link
					url: '/docs/gettingstarted/applicationserver'
					title: Application Server
					body: Applications and APIs can be be hosted using the CherryPY websever or Apache with mod_wsgi.			
				-
					**spacer
					height: 20
				-
					**h4
					value: Design
				-
					**doc_link
					url: '/docs/design/contentblocks'
					title: Content Blocks
					body: A content block is the atomic unit of WebYAML. A content block is a set of instructions in YAML syntax for producing content for your application.
				-
					**doc_link
					url: '/docs/design/markers'
					title: Markers
					body: Markers are placeholders in content block attributes that are transformed by WebYAML into dynamic content. 
				-
					**doc_link
					url: '/docs/design/templates'
					title: Templates
					body: Templates are a convient way to create reusable content blocks to speed up building applications and APIs. 
				-
					**doc_link
					url: '/docs/design/processors'
					title: Processors
					body: Processors add functionality to applications, such as, adding business logic, connecting to data sources, sending emails, redirecting vistors to other webpages, and much more.
				-
					**doc_link
					url: '/docs/design/forms'
					title: Forms
					body: WebYAML provides pre-built templates and libraries for creating forms for your applications.
				-
					**spacer
					height: 20					
		- 
			**div6
			content:
				-
					**h4
					value: Reference
					class: page-header					
				-
					**h4
					value: Processors
				-
					**doc_link
					url: '/docs/reference/processors/cache'
					title: Cache
					body: Save values to the temporary cache
				-
					**doc_link
					url: '/docs/reference/processors/dataObj'
					title: DataObj
					body: Make data available to WebYAML
				-
					**doc_link
					url: '/docs/reference/processors/email'
					title: Email
					body:  Send an email to an SMTP server
				-
					**doc_link
					url: '/docs/reference/processors/file'
					title: File
					body: Read and write files on the local filesystem
				-
					**doc_link
					url: '/docs/reference/processors/logic'
					title: Logic
					body: Perform a logical test on a given expression
				-
					**doc_link
					url: '/docs/reference/processors/mysql'
					title: MySQL
					body: Saving and retrive data from a MySQL or MariaDB database
				-
					**doc_link
					url: '/docs/reference/processors/redirect'
					title: Redirect
					body: Send a visitor to a different URL.
				-
					**doc_link
					url: '/docs/reference/processors/session'
					title: Session
					body: processors for working with session data in WebYAML
				-
					**spacer
					height: 20				
				-
					**h4
					value: Templates
				-
					**doc_link
					url: '/docs/templates/html-basic'
					title: HTML-Basic
					body: Commonly used HTML elements
				-
					**spacer
					height: 20					
include conf/docs/template.cfg