# filename: elements/html/tags.cfg

############################################################
##
##	This library includes basic html elements
##
############################################################

html-tags:

	#html5 doctype
	doctype: &doctype
		value: '<!doctype html>'

	# base tag template
	tag: &tag
		id: ""
		baseclass: ''
		class: ''
		style: ''
		attributes: ''
		wrap: "|"


	# Main Tags
	
	html: &html
		wrap: '<html {{attributes}}>|</html>'
		attributes: 'lang="{{lang}}"'
		lang: en
	
	head: &head
		wrap: '<head>|</head>'	

	body: &body
		wrap: '<body class="{{baseclass}} {{class}}" style="{{style}}">|</body>'
		
	# Tags found in HEAD
	
	title: &title
		wrap: '<title>|</title>'
		
	charset: &charset
		wrap: '<meta charset="|">'
		value: 'UTF-8'

	keywords: &keywords
		wrap: '<meta name="keywords" content="|">'
	
	description: &description
		wrap: '<meta name="description" content="|">'
		
	author: &author
		wrap: '<meta name="author" content="|">'
	
	css: &css
		wrap: '<link rel="stylesheet" type="text/css" href="|" media="all">'
		
	js: &js
		wrap: '<script {{attributes}} src="|" type="text/javascript"></script>'
		attributes: ''
	
	# Script
	script: &script
		wrap: '<script>|</script>'

	# Heading
	h: &h
		**tag
		size: 3
		wrap: <h{{size}} id="{{id}}" class="{{baseclass}} {{class}}" style="{{style}}" {{attributes}}>|</h{{size}}>
		
	
	h1: &h1
		**h
		size: 1

	h2: &h2
		**h
		size: 2

	h3: &h3
		**h
		size: 3

	h4: &h4
		**h
		size: 4

	h5: &h5
		**h
		size: 5

	h6: &h6
		**h
		size: 6


	# Paragraph
	p: &p
		**tag
		wrap: <p id="{{id}}" class="{{baseclass}} {{class}}" style="{{style}}" {{attributes}}>|</p>
	
	# Anchor (link)
	a: &a
		**tag	
		wrap: <a id="{{id}}" href="{{url}}" class="{{baseclass}} {{class}}" style="{{style}}" {{attributes}}>|</a>
		url: ''
		
	# Image
	img: &img
		**tag	
		value: <img id="{{id}}" class="{{baseclass}} {{class}}" src="{{url}}" style="{{style}}" {{attributes}}>
		url: ''

	# Small text
	small: &small
		**tag
		wrap: <small id="{{id}}" class="{{baseclass}} {{class}}" style="{{style}}" {{attributes}}>|</small>
		
	# Span
	span: &span
		**tag	
		wrap: <span id="{{id}}" class="{{baseclass}} {{class}}" style="{{style}}" {{attributes}}>|</span>
	
	# Div
	div: &div
		**tag
		wrap: <div id="{{id}}" class="{{baseclass}} {{class}}" style="{{style}}" {{attributes}}>|</div>
		
	# Pre
	pre: &pre
		noindent:
		**tag
		wrap: |
			<pre id="{{id}}" class="{{baseclass}} {{class}}" style="{{style}}" {{attributes}}>
			|
			</pre>
	
	# Lists
	ul: &ul
		**tag
		wrap: '<ul id="{{id}}" class="{{baseclass}} {{class}}" style="{{style}}" {{attributes}}>|</ul>'
			
	ol: &ol
		**tag
		wrap: '<ol id="{{id}}" class="{{baseclass}} {{class}}" style="{{style}}" {{attributes}}>|</ol>'
		
	li: &li
		**tag
		wrap: '<li id="{{id}}" class="{{baseclass}} {{class}}" style="{{style}}" {{attributes}}>|</li>'


	# Rules
	rule: &rule
		**div
		value: '<hr style="margin-top: 6px;">'
	
	# Spacer
	spacer: &spacer
		**div
		style: 'margin-top: {{height}}px;'
		height: 10


	# Inline text elements

	#	<p>You can use the mark tag to <mark>highlight</mark> text.</p>
	#	<p><del>This line of text is meant to be treated as deleted text.</del></p>
	#	<p><s>This line of text is meant to be treated as no longer accurate.</s></p>
	#	<p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>
	#	<p><u>This line of text will render as underlined</u></p>
	#	<p><small>This line of text is meant to be treated as fine print.</small></p>
	#	<p><strong>This line rendered as bold text.</strong></p>
	#	<p><em>This line rendered as italicized text.</em></p>

	mark: &mark
		wrap: '<mark>|</mark>'
		
	del: &del
		wrap: '<del>|</del>'
		
	s: &s
		wrap: '<s>|</s>'
		
	ins: &ins
		wrap: '<ins>|</ins>'
		
	u: &u
		wrap: '<u>|</u>'
		
	# see above
	#small: &small
	#	wrap: '<small>|</small>'
		
	strong: &strong
		wrap: '<strong>|</strong>'
		
	em: &em
		wrap: '<em>|</em>'