# filename: conf/docs/configs/marker.cfg
# path: /docs/configs/marker

############################################################
##
## Design  : Processors
##
############################################################

view_name: &view_name "Design  : Processors"

include conf/elements/html-basic.cfg
include conf/elements/html-bootstrap-panel.cfg
include conf/elements/html-datatables.cfg

include conf/docs/navbar.cfg

navbar: &navbar
	<<: *docs_navbar

View: &view
	content:
		-
			<<: *div
			content:
				-
					<<: *h3
					class: page-header
					value: 'Design  : Processors'
				-
					<<: *p
					value: |
						Processors add functionality to applications, such as, adding business logic, connecting to data sources, sending emails, redirecting vistors to other webpages, and much more.
				-
					<<: *spacer
					height: 20						
				-
					<<: *h4
					value: Preprocessing			
				-
					<<: *p
					value: |
						Every {{"content".keyword()}} block has the attribute {{"preprocess".keyword()}} which may be used to load a Python Processor class.  
				-
					<<: *p
					value: |
						This example contains a configuration typically found in an authenticated web interface.  This example uses the {{"lib.processors.logic.Evaluate".keyword()}} and {{"lib.processors.redirect.Redirect".keyword()}} classes to send unauthorized users to a login page.
				-
					type: lib.elements.tabs.Tabs
					content:
						-
							name: YAML
							id: "yaml-1"
							content:
								<<: *pre
								value: '{{code}}'
								code: |
									preprocess:
										# Is the current visitor logged in?
										type: lib.processors.logic.Evaluate
										expression: '{{"\{\{exists(session:logged_in)\}\}".html_escape()}}'
										'false':
											# No, redirect to login page
											type: lib.processors.redirect.Redirect
											url: '/login'
											
									# Still here?  User is authenticated
									content:
										-
											value: "Authorized Content"
				-
					<<: *p
					value: |
						In the example above, the attribute {{"preprocess".keyword()}} contains  {{"processor".keyword()}} attributes.  The {{"processor".keyword()}} attribute {{"type".keyword()}} is required and must contain the full path to a {{"processor".keyword()}} class.  All {{"processor".keyword()}} classes must return either True or False depending on the success of the opertaion performed.  Therefore, we can use the attributes {{"'true'".keyword()}} and {{"'false'".keyword()}} to continue the {{"processor".keyword()}} tree.
				-
					<<: *p
					value: |
						In this example the {{"type".keyword()}} attribute is set to the class {{"lib.processors.logic.Evaluate".keyword()}}.  This class evalutes the {{"processor".keyword()}} attribute {{"expression".keyword()}} and returns True or False.  If the returned result is False, the {{"processor".keyword()}} tree will continue to the class {{"lib.processors.redirect.Redirect".keyword()}} which will send an unauthenticated user to the page "/login".
				-
					<<: *spacer
					height: 20
				-
					<<: *p
					value: |
						Another useful purpose of Preprocessors is to collect data from external sources.  Here is an example of how to query a MySQL database and store the result as "user" which can be accessed with markers.
				-
					type: lib.elements.tabs.Tabs
					content:
						-
							name: YAML
							id: "yaml-2"
							content:
								<<: *pre
								value: '{{code}}'
								code: |
									preprocess:
										-
											type: lib.processors.mysql.Select
											conf:
												# Database connection settings
												host: localhost
												user: mydbuser
												db: mydbname
												passwd: "secret"
											sql: 'SELECT createdate FROM users WHERE username = "{{"\{\{session:username\}\}".html_escape()}}" LIMIT 1;'
											# store the result in the object 'user'
											name: user
											# The format the result as a single record
											format: record
									content:
										-
											value: "The user '{{"\{\{session:username\}\}".html_escape()}}' was created on '{{"\{\{date(user:createdate\}\}".html_escape()}}'"
				-
					<<: *p
					value: |
						In the example above, the {{"preprocess".keyword()}} attribute contains a list.  Each list item may contan a single {{"processor".keyword()}} element or a {{"processor".keyword()}} tree.  In this case the {{"preprocess".keyword()}} list will continue until a either the end has been reached or an unhandled False is returned.
				-
					<<: *spacer
					height: 20						
				-
					<<: *h4
					value: Post-processing			
				-
					<<: *p
					value: |
						By default any {{"content".keyword()}} Element can use the {{"preprocess".keyword()}} attribute.  However, a few special Elements also support post-processing using the {{"process".keyword()}} attribute.
				-
					<<: *p
					value: |
						An example Element that can uses both the {{"preprocess".keyword()}} and {{"process".keyword()}} attributes is the Form Element ({{"lib.elements.form.Form".keyword()}}).  This will be covered in detail in the Design : Elements section of this documentation.
				-
					<<: *spacer
					height: 20						
				-
					<<: *h4
					value: Processor Reference Chart
				-
					<<: *p
					value: |
						Here are a list of processors found in the core library.  They are a good starting point for most applications and APIs.  However, developers can extend the class {{"classes.processor.Processor".keyword()}} or any of the classes below to create additional processors that provide more functionality.
						
						
						
				-
					<<: *datatable_js
					id: functions
					values:
						- ["lib.processors.cache.Cache", "Save values to the temporary cache"]
						- ["lib.processors.dattaObj.DataObj", "Save values to named data object"]
						- ["lib.processors.email.Send", "Save values to the temporary cache"]
						- ["lib.processors.file.Write", "write a value to a file"]
						- ["lib.processors.json_data.LoadRecord", "Save a API result as a named data object"]
						- ["lib.processors.logic.Evaluate", "evaluate an True/False expression"]
						- ["lib.processors.mysql.Select", "MySQL processor - select records"]
						- ["lib.processors.mysql.Insert", "MySQL processor - insert record"]
						- ["lib.processors.mysql.Update", "MySQL processor - edit record"]
						- ["lib.processors.redirect.Redirect", "Redirect to a different URL"]
						- ["lib.processors.rest.Post", "Post XML data to API"]
						- ["lib.processors.session.Cache", "Save values to the session cache"]
						- ["lib.processors.shell.Shell", "execute a shell script"]
						- ["lib.processors.sqlite.Insert", "SQLite processor - insert record"]
						- ["lib.processors.sqlite.Update", "SQLite processor - edit record"]
						- ["lib.processors.sqlite.Delete", "SQLite processor - delete record"]
						- ["lib.processors.sqlite.Select", "SQLite processor - select records"]
						
					data: '{{json(values)}}'
					columns:
						-
							title: Class
						-
							title: Description
					other: |
						searching: false,
						paging: false,
						
						
		-
			<<: *spacer
			height: 20									


		-
			<<: *div
			width: 2
			offset: 2
			content:
				-
					<<: *p
					value: "< Previous</br>"
					class: "pull-right"
				-
					<<: *a
					url: "/docs/design/processors"
					class: "pull-right"
					value: Processors
		-
			<<: *div
			offset: 4
			width: 2
			content:
				-
					<<: *p
					value: "Next ></br>"
				-
					<<: *a
					url: "/docs/design/views"
					class: 
					value: URLs/Views
		-
			<<: *spacer
			height: 20						
					
include conf/docs/template.cfg